{
  "presets": [
    [
      "env"
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}